html {
    font-size: 1.2rem;
}

body {
    padding-top: 70px;
    background-color: #FFFBF5;
}

p {
    text-align: justify;
}

.navbar-color-change {
    background-color: #674188;
}

.navbar-brand {
    margin-left: 20px;
}

/* .navbar-dropdown-menu {
    left: auto !important;
    right: 0px;
} */
.carousel-inner img {
    width: 100%;
    height: 90vh;
}

.carousel-text {
    color: white;
    text-shadow: 2px 2px 2px #000000;
}

.welcome-container {
    margin-top: 20px;
}

.activity-img {
    width: 100%;
    height: 90%;
    padding: 3%;
}

.address_info_index {
    background-color: #F7EFE5;
}

.footer-bg-styles {
    background-color: #C3ACD0;
}

.footer-last-part-styles {
    background-color: #674188;
}
